@import "colors.css";

footer{
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
  background: var(--orange-clr);
  padding: 50px 100px;
}

footer img{
  height: 90px;
  background: var(--dark-clr);
  padding: 20px;
  border-radius: 100%;
}

footer .footerIcons{
  width: 30%;
  display: flex;
  justify-content: space-around;
}

footer .footerIcons .footerIcon{
  font-size: 40px;
  margin: 0 5px;
}

footer .footerIcons a:link, footer .footerIcons a:visited {
  color: var(--white-clr);
  text-decoration: none;
}

footer .footerIcons a:link:active, footer .footerIcons a:visited:active {
  color: var(--white-clr);
}
