@import "colors.css";

/* ! Base Styles */

h1,h2,h3,h4,h5,h6{margin-bottom: 10px;}

p{text-align: justify;}

.big_text{font-size: 70px;}
.medium_text{font-size: 40px;}
.normal_text{font-size: 18px; line-height: 25px;}
.small_text{font-size: 14px;}

.links{text-decoration: none; color: inherit;}

.main{
  font-family: 'Jost', sans-serif;
  background-color: var(--dark-clr);
  color: var(--white-clr);
  grid-area: main;
  position: relative;
  overflow: auto;
  display: grid;
  grid-template-columns: minmax(50px, 1fr) repeat(12, minmax(50px, 100px)) minmax(50px, 1fr);
  grid-row-gap: 100px;
}

/* ! Box Hero */

.box_hero{
  grid-column: 1/-1;
  height: 500px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ! Box skills */

.box_skills_img{
  grid-column: 2/7;
}

.box_skills_img img{
  width: 100%;
}

.box_skills_text{
  grid-column: 7/14;
  padding-left: 50px;
}

[class^="box_skills"]{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid green;
}

/* ! Box projects */



.box_projects{
  grid-column: 2/14;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(12, minmax(50px, 100px));
  grid-template-rows: 20% 60% 20%;
  align-items:center;
  text-align: center;
  border: 1px solid red;
}

.box_projects h2{
  grid-column: 6/8;
}

.box_projects img{ height: 100%; margin: 0 auto;}

.box_projects .projects_1{ grid-column: 1/5; }
.box_projects .projects_2{ grid-column: 5/9; }
.box_projects .projects_3{ grid-column: 9/13; }

.box_projects button{
  grid-column: 6/8;
}


/* ! Box end */

.box_end{
  grid-column: 1/-1;
  height: 5vh;
}
