.projectCompBox{
  grid-column: 1/-1;
  display: flex;
  justify-content: space-around;

}

.projectComp{
  position: relative;
  border: 5px solid var(--orange-clr);
  width: 250px; height: 250px;
  align-items: center;
}

.projectComp:hover h2{
  opacity: 1;
}

.projectComp img{ width: 250px; height: 250px;}

.projectComp h2{
  position: absolute;
  opacity: 0;
  top: 0;
  padding: 112px 0;
  width: 250px;
  background: hsla(200, 100%, 10%, .8);
  transition: opacity 300ms ease-in-out; 
}
